<div class="section">
    <div class="row">
        <div class="col s12">
            <ul class="tabs black">
                <li class="tab col s6"><a class="active white-text" href="#login">Войти</a></li>
                <li class="tab col s6"><a class="white-text" href="#register">Регистрация</a></li>

            </ul>
        </div>
        <div id="login" class="col s6 offset-s3">
            {{#if errorLogin}}
            <p class="alert">{{errorLogin}}</p>
            {{/if}}
            <h2>Войти</h2>
            <form action="/auth/login" method="POST" enctype="multipart/form-data">
                <div class="input-field">
                    <input id="email" name="email" type="email" class="validate white-text" required>
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Введите email"></span>
                </div>
                <div class="input-field">
                    <input id="password" name="password" type="password" class="validate white-text" required min="1">
                    <label for="password">Пароль для входа</label>
                    <span class="helper-text" data-error="Пароль должен содержать не менее 8 символов"></span>
                </div>
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <button class="btn amber darken-4" type="submit">Войти</button>
            </form>
        </div>

        <div id="register" class="col s6 offset-s3">
            {{#if errorRegister}}
            <p class="alert">{{errorRegister}}</p>
            {{/if}}
            <h2>Регистрация</h2>
            <form action="/auth/register" method="POST" enctype="multipart/form-data">
                <div class="input-field">
                    <input id="text" name="name" type="text" class="validate white-text" required>
                    <label for="text">Имя пользователя</label>
                    <span class="helper-text" data-error="Введите свое имя"></span>
                </div>
                <div class="input-field">
                    <input id="remail" name="email" type="email" class="validate white-text" required>
                    <label for="remail">Email</label>
                    <span class="helper-text" data-error="Введите email"></span>
                </div>
                <div class="input-field">
                    <input id="rpassword" name="password" type="password" class="validate white-text" required min="1">
                    <label for="rpassword">Пароль для входа</label>
                    <span class="helper-text" data-error="Пароль должен содержать не менее 8 символов"></span>
                </div>
                <div class="input-field">
                    <input id="confirm" name="confirm" type="password" class="validate white-text" required min="1">
                    <label for="confirm">Введите пароль еще раз</label>
                    <span class="helper-text" data-error="Пароль должен содержать не менее 8 символов"></span>
                </div>
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <button class="btn amber darken-4" type="submit">Зарегистрироваться</button>
            </form>

        </div>
    </div>
</div>