@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
    box-sizing: border-box;
}

.nav-wrapper {
    padding: 0 2rem;
}

nav ul li.active {
    background-color: rgba(244, 172, 172, 0.258);
    border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    overflow-x: hidden;
    background: rgb(255, 255, 255);
    color: aliceblue;
}

.price {
    font-size: 1.5rem;
}

.price.total-table__price {
    font-size: 1rem;
}

.price-padding {
    padding: 5px 10px;
    text-align: right;
    text-transform: uppercase;
}

.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    margin-bottom: 1.5rem;
}

.course img {
    max-width: 400px;
    height: auto;
}

.card.card-height{
    max-height: 25%;
}

.card-action.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.total {
    padding: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*main index.hbs*/

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.slide {
    /* background-image: url('https://images.unsplash.com/photo-1546900703-cf06143d1239?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80'); */
    border-radius: 15px;
    padding: 0 20px;
    margin: 0 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
}

.slide h3 {
    position: absolute;
    font-size: 24px;
    bottom: 10%;
    left: 5%;
    margin: 0;
    opacity: 0;
}

.active_flex {
    flex: 10;
}

.slide.active_flex h3 {
    opacity: 1;
    transition:  opacity 0.3s ease-in 0.4s;
}

/* for register && login - ALERT errors */

.alert {
    padding: 2.5rem 1rem;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 1rem;
    background: rgba(255, 115, 0, 0.149);
    color: brown;
    font-size: 1.5em;
}

.absolute {
    position: absolute;
    bottom: 0;
    right: 0;
}

.relative {
    position: relative;
}