@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
    box-sizing: border-box;
}

.nav-wrapper {
    padding: 0 2rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    background: rgb(255, 255, 255);
    color: aliceblue;
}

.price {
    font-size: 1.5rem;
}

.price.total-table__price {
    font-size: 1rem;
}

.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h1 {
    margin-bottom: 1.5rem;
}

.course img {
    max-width: 400px;
    height: auto;
}

.card.card-height{
    max-height: 25%;
}

.card-action.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.total {
    padding: 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*main index.hbs*/

.header {
    width: 100%;
    height: 80vh;
    display: flex;
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.slide {
    height: 80vh;
    border-radius: 15px;
    padding: 0 20px;
    margin: 0 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 500ms ease-in-out;
}

.slide h3 {
    position: absolute;
    font-size: 24px;
    bottom: 5%;
    left: 2%;
    margin: 0;
    opacity: 0;
}

.active_flex {
    flex: 10;
}

.slide.active_flex h3 {
    opacity: 1;
    transition:  opacity 0.3s ease-in 0.4s;
}